@model KocamanHastanesi.Models.hasta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>hasta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sifre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sifre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
