@model Hospital_Website.Models.il

@{
    ViewData["Title"] = "Details";
}

<h1>@_localization.Getkey("Detail").Value</h1>

<div>
    <h4>@_localization.Getkey("Il").Value</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <label for="name">@_localization.Getkey("Il").Value</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
     <a asp-action="Edit" asp-route-id="@Model?.Id">@_localization.Getkey("Edit").Value</a> |
    <a asp-action="Index">@_localization.Getkey("List").Value</a>
</div>
