@model KocamanHastanesi.Models.randevu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>randevu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hasta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hasta.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tarih)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.doktor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.doktor.id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
