@model Hospital_Website.Models.doktor

@{
    ViewData["Title"] = "Details";
}

<h1>@_localization.Getkey("Detail").Value</h1>

<div>
    <h4>@_localization.Getkey("Doktor").Value</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label for="name">@_localization.Getkey("Name").Value</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
            <label for="tc">@_localization.Getkey("Kimlik").Value</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tc)
        </dd>
        <dt class = "col-sm-2">
            <label for="poliklinik.Id">@_localization.Getkey("Poliklinik").Value</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.poliklinik.Id)
        </dd>
        <dt class="col-sm-2">
        <label for="sifre">@_localization.Getkey("Sifre").Value</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.sifre)
        </dd>
    </dl>
</div>
<div>
   <a asp-action="Edit" asp-route-id="@Model?.id">@_localization.Getkey("Edit").Value</a> |
    <a asp-action="Index">@_localization.Getkey("List").Value</a>
</div>
